body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202124 !important; /* Dark background color */
  color: #ffffff !important; /* White text color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-content,
.form,
.reviews,
.bathrooms-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #333; /* Dark background color for the navbar */
  padding: 10px;
  border-radius: 10px; /* Add a bit of curvature for a playful touch */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #ffffff; /* White text color for navbar links */
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px; /* Increase the font size for a lively feel */
  letter-spacing: 2px; /* Add more letter-spacing for extra bubbly vibes */
}

.navbar a:hover {
  color: #3c3cff; /* Yellow text color on hover */
}

.bathrooms-container,
.bathroom-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.bathroom-card,
.bathroom-preview {
  background-color: #444 !important;
  color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.bathroom-card:hover,
.bathroom-preview:hover {
  background-color: #756f6f !important; /* Darker color on hover for a subtle effect */
  color: #3c3cff; /* Change text color on hover */
}

.home-header,
.brand {
  font-size: 28px; /* Increase the font size for a more prominent header */
  margin-bottom: 20px;
  color: #ffffff; /* Add a pop of color to the header */
}

.form label,
.form button,
.form select,
.form label[for="city"],
.review-item button,
.btn {
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.form label,
.form label[for="city"] {
  font-weight: bold;
}

.form input,
.form textarea,
.form select,
.form-control,
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.form button,
.btn-primary,
.btn-danger,
.btn-secondary {
  padding: 10px 15px;
  cursor: pointer;
  color: rgb(72, 70, 70);
}

.form button,
.btn-primary,
.btn-danger,
.btn-secondary:hover {
  background-color: #3c3cff;
}

.form button:hover {
  background-color: #3030c6;
}

.reviews {
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-list {
  list-style: none;
  padding: 0;
}
.review-item {
  margin-top: 10px;
  padding: 15px; /* Added padding to create space within the box */
  background-color: #333;
  border: 1px solid #333;
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

